:root {
    --text-primary: #7D1D79 !important;
    --text-secondary: #FFC60E !important;
  }

* {
    font-family: "Roboto",sans-serif;
}
/* NAV BAR */

.form-white.input-group>.form-control:focus {
    border-color: #fff;
    box-shadow: inset 0 0 0 1px #fff;
  }
  
  .navbar-light .navbar-nav .nav-link {
    color: #7D1D79;
    font-weight: 500;
  }
  
  .navbar-light .navbar-nav .nav-link:hover,
  .navbar-light .navbar-nav .nav-link:focus {
    color: #FFC60E;
  }

  /* Titulo card categoria */

  .title {
      position: absolute;
      top:380px;
      left: 30px;
      padding: 10px;
      border:0px;
      background-color: #fff;
      border-radius: 25px 0px 0px 25px;

  }

  .box-card-title{
    position: absolute;
    top: 80%;
    width: fit-content !important;
    block-size: fit-content !important;
    padding: 5px;
    /* background-color: #fff; */
  }


  

  .box-card-tag{
    display: inline-block !important;
        padding: 5px;
        width: fit-content !important;
        block-size: fit-content !important;
    /* background-color: #fff; */

  }

  .fas.fa-heart:hover {
    color: #f44336 !important;
  }
  
  .fas.fa-share-alt:hover {
    color: #0d47a1 !important;
  }
  .far.fa-comment:hover{
    color: #FFC60E !important;
  }
  .card-categoria-link{
      color: #7D1D79;
    font-weight: 500;
    background: #ffffff;
  }
  .card-categoria-link:hover{
    color: #FFC60E;
  }

  .mascara{
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.336)!important;
    width: 100%;
    height: 100%;
  }
  
  .mascara.ico-mascara:hover{
    background-image: url(../img/bg-transparence.png), url(../img/readme-brand.png) !important;

    background-position: left, center !important;
    background-repeat: repeat, no-repeat  !important;
    opacity: 0.8 !important;
    cursor: pointer !important;

  }

  .post-categoria-mini{
    width: 100% !important;
    height: 143px !important;
  }

  .box-title-categoria-mini{
    position: absolute;
    top: 45%;
    width: fit-content !important;
    block-size: fit-content !important;
    padding: 5px;
  }

  .mascara-mini-categoria{
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.315)!important;
    width: 100%;
    height: 100%;
  }

  .mascara-mini-categoria:hover{
    background-image: url(../img/bg-transparence.png), url(../img/camera-brand.png) !important;

    background-position: left, center !important;
    background-repeat: repeat, no-repeat  !important;
    opacity: 0.8 !important;
    cursor: pointer !important;

  }
  

/* LINK MENU */



/* Mobile */
@media (max-width: 576px) { 
  
  .box-card-title{
    position: absolute !important;
    top: 70% !important;
    width: fit-content !important;
    block-size: fit-content !important;
    padding: 5px !important;
    /* background-color: #fff; */
  }

 }
